.listgroup{

    .container{

        display: flex;
        justify-content: center;
        input{
            width: 100vh;
            font-size: 1.5em;
            margin: 10px 0 10px 0;
        }

        button{
            background:black ;
            color: white;
            margin: 10px 0 10px 0;

            &:hover{
                color: aqua;
                cursor: pointer;
            }
        }
    }

   
}//listgroup